<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="articlesListPreview(articles)">
    <div class="container">

        <form th:action="@{/articles}">
            <div align="left">
            <label for="categorie">Choisissez la catégorie</label>
            <select id="categorie" th:name="categorie">
                <option selected disabled hidden style='display: none' value=''></option>
                <option th:each = "categorie: ${categories}" th:value = "${categorie.nameCategory}" th:text = "${categorie.nameCategory}" th:data = "${categorie.nameCategory}"></option>
            </select>
                <button type = "submit">Search</button>
            </div>
        </form>



        <div class="row">
            <div th:each="article: ${articles}" class="col-md-4">
                <div class="productbox">
                    <div class="fadeshop">
                        <div class="captionshop text-center" style="display: none;">
                            <h3 th:text="${article.name}"></h3>
                            <p th:text="${article.description}"></p>
                            <p>
                                <a href="#" class="learn-more detailslearn"><i class="fa fa-shopping-cart"></i> Purchase</a>
                                <a href="#" class="learn-more detailslearn"><i class="fa fa-link"></i> Details</a>
                            </p>
                        </div>
                        <span class="maxproduct">
                            <img th:src="@{'/uploads/'+${article.id}+'.jpg'}" th:alt="@{'/uploads/no-image.jpg'}">
                        </span>
                    </div>
                    <div class="product-details">
                        <a th:href="@{/articles/{id}(id=${article.id})}">
                            <h1 th:text="${article.name}"></h1>
                        </a>
                        <span class="price">
                            <span class="edd_price" th:text="${article.price}"></span>
                        </span>
                    </div>
                    <div th:include="fragments/actionArticle :: actionArticle(${article})"></div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
