<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="articlesListPreview(articles)">
    <div class="container">
        <div class="row">
            <div th:each="article: ${articles}" class="col-md-4">
                <div class="productbox">
                    <div class="fadeshop">
                        <div class="captionshop text-center" style="display: none;">
                            <h3 th:text="${article.name}"></h3>
                            <p th:text="${article.description}"></p>
                            <p>
                                <a href="#" class="learn-more detailslearn"><i class="fa fa-shopping-cart"></i> Purchase</a>
                                <a href="#" class="learn-more detailslearn"><i class="fa fa-link"></i> Details</a>
                            </p>
                        </div>
                        <span class="maxproduct">
                            <img th:src="@{/images/product1-1.jpg}" alt="">
                        </span>
                    </div>
                    <div class="product-details">
                        <a th:href="@{/articles/{id}(id=${article.id})}">
                            <h1 th:text="${article.name}"></h1>
                        </a>
                        <span class="price">
                            <span class="edd_price" th:text="${article.price}"></span>
                        </span>
                    </div>
                    <div class="text-center" th:with="artId=${article.id}">
                        <div th:if="${session.articles_in_cart.?[article.id == __${artId}__].isEmpty()}">
                            <a class="btn btn-primary" th:href="@{/cart/add/{id}(id=${article.id})}">Ajouter au panier</a>
                        </div>
                        <div th:if="${not session.articles_in_cart.?[article.id == __${artId}__].isEmpty()}">
                            <a class="btn btn-primary" th:href="@{/cart/remove/{id}(id=${article.id})}">Enlever du panier</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>